:root{
    --black: #000;
    --white: #fff;
    --font_white_500: #d8d8d8;
    --font_white_700: #bdbdbd;
    --gray_ligth_500: #CED3D4;
    --black_600: #232B2B;
}
.about_client_body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/fundo_feste_filtro_dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    padding: 21rem 0;
    box-sizing: border-box;
    gap: 5rem;

}
.about_client_body > h1{
    font-size: 4rem;
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-shadow: 5px 5px 24px rgb(0, 0, 0);
    z-index: 1;
}
.about_client_body > p{
    font-size: 1.125rem;
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-align: center;
    width: 70%;
    text-shadow: 5px 5px 24px rgb(0, 0, 0);
    z-index: 1;
}
.filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    
}

/*About event section*/
.linear_blue{
    background: rgb(12,22,72);
    background: linear-gradient(29deg, rgba(12,22,72,1) 22%, rgba(11,20,66,1) 46%, rgba(10,19,63,1) 57%, rgba(9,17,59,1) 66%, rgba(7,14,50,1) 75%, rgba(6,13,46,0.9822303921568627) 85%, rgba(5,10,36,1) 91%, rgba(3,7,23,1) 94%, rgba(0,0,0,0.9822303921568627) 100%);
    width: 100%;
    height: 8px;
}
.about_the_event_body{
    background-color: #000000ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7vw 0;
    gap: 2rem;
    color: var(--font_white_700);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about_the_event_body > h1{
    font-size: 4rem;
}
.textof_event{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textof_event > p{
    width: 70%;
    font-size: 1.5rem;
    text-align: justify;
}
.about_the_event_body > a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--font_white_700);
}
.about_the_event_body > a:hover{
    color: var(--font_white_500);
    font-size: 1.31;
}